<div class="bg-container">
  <div class="card-header">
    <nav class="nav">
      <a class="nav-link" routerLink="/weather">Weather app</a>
      <a class="nav-link" routerLink="/calculator">Calculator</a>
      <a class="nav-link" routerLink="/todo-app">Todo App</a>
      <a class="nav-link back-route" routerLink="/">Back</a>
      <a class="nav-link back" routerLink="/"><i class="bi bi-arrow-right-short"></i> </a>
    </nav>
  </div>
<div class="calc-bg-container">
  <div class="calculator">
    <h2 class="calc-heading">Simple Calculator</h2>
    <div>
      <input type="text" readonly class="result" value="{{result}}">
    </div>
    <div>
      <button class="button long"
      (click)="onClickBtn(longButton)"
      *ngFor="let longButton of longButtons" >
      {{longButton}}</button>

      <button class="button"
      (click)="onClickBtn(button)"
      *ngFor="let button of buttons" >
      {{button}}</button>
    </div>
  </div>
</div>

<footer class="footer" >
  <ul class="icon-container">
    <li><i class="bi bi-linkedin icon"></i></li>
    <li><i class="bi bi-twitter icon"></i></li>
    <li><i class="bi bi-instagram icon"></i></li>
    <li><i class="bi bi-facebook icon"></i></li>
  </ul>
  <p class="footer-desc">By Sandhya Bommineni, 2022 &copy;</p>
</footer>
</div>
