.calc-bg-container{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:100vw;
  padding-bottom: 140px;
}
.bg-container{
  background: azure;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

}
.header{
  display: flex;
  justify-content: space-around;
}
.btn{
  font-weight: 600;
}
.btn:hover{
  background-color: green;
}
.heading{
  color: #033a91;
  font-weight: 600;
  font-size: 32px;
}
.calc-heading{
  font-weight: 600;
  color: #305a73;
  padding-top: 15px;
  font-size: 36px;
}


.calculator{
  background:#c7bfbf;
  width: 400px;
  border:1px solid #c7bfbf;
  border-radius: 20px;
  box-shadow: -1px 0px 6px 3px #63605f;
  padding-bottom: 15px;
}
@media(max-width:512px){
  .calculator{
    width: 87%;
  }
  .calc-heading{
    font-size: 18px;
  }
.calc-bg-container{
  margin-top: 90px;
}
}
.result{
  border-radius: 8px;
  height: 60px;
  width: 343px;
  margin-top: 10px;
  margin-bottom: 8px;
  border: none;
  box-shadow: -1px 1px 4px 2px #63605f;
  text-align: right;
  font-size: 26px;
  padding-right: 5px;
}
@media(max-width:512px){
  .result{
    width: 90%;
  }
}
.button{
  height: 65px;
  width: 80px;
  font-size: 20px;
  border: 2px solid #63605f;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: -1px 0px 5px 3px #63605f;
  background-color: #c4c1c0;
  transition-duration: 0.4s;
  margin: 3px 3px 8px 3px;
}
.long{
  width: 168px;
}
@media(max-width:512px){

  .button{
    width: 21%;
  }
  .long{
    width: 44%;
  }
}
.button:hover {
  background: #666464;
  color: aliceblue;
  box-shadow: -1px 0px 5px 3px aliceblue;
  border: 2px solid aliceblue;
  transform: translate3d(2px,2px,2px);
}


.icon-container{
  display: flex;
  list-style-type: none;

}

.icon:hover{
  transform: translateY(-7px);
  opacity: 5;
}
.footer-desc{
  font-size: 20px;
  width: auto;
}
.nav-link{
  font-size: 18px;
  font-weight: 600;
  transition: 0.s;
}
.nav-link:hover{
  color: purple;
  transform: translate3d(2px,2px,2px);
}
.card-header{
  padding-left: 135px;
}
@media(max-width:768px){
  .card-header{
    padding-left: 0px;
  }

}
.back-route{
  display: flex;
}
@media(max-width:512px){
  .back-route{
    display: none;
  }
  .footer-desc{
    font-size: 17px;
  }
}
.back{
  display: none;
}
@media(max-width:512px){
  .back{
    display: flex;
  }
  .nav-link{
    font-size: 12px;
  }
}
.error-message{
  color: red;
  font-size: 16px;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin-right: 125px;
}
.app-container{
  display: flex;
}
@media (max-width:767px){
  .nav{
    margin-right: 0px;
  }
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 15px;
  height: 150px;
  background: #240138;
  display: flex;
  flex-direction: row;
  color: #fff;
}
.icon{
  color: #fff;
  font-size: 28px;
  padding-right: 24px;
  padding-bottom: 10px;
  display: inline-block;
  transition: 0.5s;
  position: relative;
  opacity: 0.7;
}
.footer-container{
  width: 30vw;
  margin-left: 100px
}
.about{
width: 40vw;
}
.follow-us{
  margin-left: 30px;
}
.about-description{
  width: 60%;
}
.footer-head{
  color: goldenrod;
}
.email{
  width: 500px;
}
.span{
  color:goldenrod;
  font-size: 18px;
  margin-right: 20px;
  padding-top: 4px;
}

p{
  font-size: 14px;
}
@media(max-width:1200px){
  .footer{
   flex-direction: column;
   height: 350px;
  }
  .footer-container{
    margin-left: 10px;
    width: 100%;
  }
  .about-description{
    width: 90%;
  }
  .follow-us{
    margin-left: 0px;
  }
  .calc-bg-container{
    padding-bottom: 370px;
  }
}
