.card{
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.heading{
  font-weight: 600;
  padding-top: 40px;
}
.input{
  width: 100%;

}
.form-container{
  text-align: center;
}
.btn{
  margin-right: 10px;
  margin-top: 20px;
}
.container{
  display: flex;
  justify-content: center;
}
.result-container{
  display: flex;
  justify-content: center;
}
@media(max-width:600px){
  .result-container{
    flex-direction: column;
    align-items: center;
  }
}
.image-container{
  margin-left: 40px;
}
.image{
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media(max-width:600px){
  .image{
    height: 140px;
    margin-top: 0px;
  }
  .image-container{
    margin-left: 0px;
  }
}


.nav-link{
  font-size: 18px;
  font-weight: 600;
  transition: 0.5px;
}
@media(max-width:512px){
  .nav-link{
    font-size: 12px;
    margin-right: 0px;
  }
}
.nav-link:hover{
  color: purple;
  transform: translate3d(2px,2px,2px);
}
.back-route{
  display: flex;
}
@media(max-width:512px){
  .back-route{
    display: none;
  }
}
.back{
  display: none;
}
@media(max-width:512px){
  .back{
    display: flex;
  }
}
.btn-container{
  display: flex;
  justify-content: center;

}
.btn-sm{
  display: none;
}
.btn-md{
  display: flex;
}
@media(max-width:512px){
  .btn-sm{
    display: flex;
  }
  .btn-md{
    display: none;
  }
}
p{
  font-size: 18px;
}
.result{
  color: #1a1919;
  font-weight: 600;
}
@media(max-width:512px){
  p{
    font-size: 14px;
  }
}
.error-msg{
  color: red;
  font-size: 14px;
}
.btn-primary:hover{
  background-color: green;
}
.footer{
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  height: 140px;
  background: #240138;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.icon-container{
  display: flex;
  list-style-type: none;

}
.icon{
  color: #fff;
  font-size: 32px;
  padding-right: 24px;
  padding-bottom: 10px;
  display: inline-block;
  transition: 0.5s;
  position: relative;
  opacity: 0.7;
}
.icon:hover{
  transform: translateY(-7px);
  opacity: 5;
}
.footer-desc{
  font-size: 20px;
  width: auto;
}
.card-header{
  padding-left: 135px;
}
@media(max-width:768px){
  .card-header{
  padding-left: 0px;
  }
}
@media(max-width:512px){
  .footer-desc{
    font-size: 17px;
  }
}
