<div class="card bg-container">
  <div class="card">
    <div class="card-header">
      <nav class="nav">
        <a class="nav-link" routerLink="/weather">Weather app</a>
        <a class="nav-link" routerLink="/calculator">Calculator</a>
        <a class="nav-link" routerLink="/todo-app">Todo App</a>
        <a class="nav-link back-route" routerLink="/">Back</a>
        <a class="nav-link back" routerLink="/"><i class="bi bi-arrow-right-short"></i> </a>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center   my-4 heading">Search For Weather Report of a City</h2>

          <form
            [formGroup]="weatherSearchForm"
            (ngSubmit)="sendToApi(weatherSearchForm.value)"
          >
            <div class="form-group">
              <input
                class="form-control input"
                type="text"
                id="weatherLocation"
                aria-describedby="weatherLocatio"
                placeholder="Please enter a Location "
                formControlName="location"
                required
              />
            </div>
            <span class="error-msg">{{weatherData?.success === false? "Please enter a valid Location":""}}</span>
            <div class="btn-container">
              <button type="submit" class="btn btn-success btn-md">
                Search for the weather
              </button>
              <button type="submit" class="btn btn-success btn-sm">
                Search
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <h2 class="text-center  my-4 heading">
            Weather Details
          </h2>
          <div class="result-container">
            <div>
              <p>Location: <span class="result">{{weatherData?.location.name }}, {{weatherData?.location.region}}, {{weatherData?.location.country}}</span></p>
              <p>Temperature: <span class="result">{{weatherData?.current.temperature}}<sup>o</sup> C</span></p>
              <p>Pressure: <span class="result">{{weatherData?.current.pressure}} mb</span></p>
              <p>Cloud Cover: <span class="result">{{weatherData?.current.cloudcover}}</span></p>
              <p>Wind Speed: <span class="result">{{weatherData?.current.wind_speed}} knot</span></p>
            </div>
            <div class="image-container">
              <img src={{weatherData?.current.weather_icons[0]}} alt="" class="image"><br>
              <p class="text-center result">{{weatherData?.current.weather_descriptions}}</p>
            </div>
        </div>
        </div>
      </div>
    </div>

    <footer class="footer" >
      <ul class="icon-container">
        <li><i class="bi bi-linkedin icon"></i></li>
        <li><i class="bi bi-twitter icon"></i></li>
        <li><i class="bi bi-instagram icon"></i></li>
        <li><i class="bi bi-facebook icon"></i></li>
      </ul>
      <p class="footer-desc">By Sandhya Bommineni, 2022 &copy;</p>
    </footer>
  </div>


</div>
