<div class="card">
  <div class="card-header">
    <nav class="nav">
      <div>
        <a class="nav-link back-route" routerLink="/">Back</a>
      <a class="nav-link back" routerLink="/"><i class="bi bi-arrow-bar-left"></i> </a>
      </div>
      <div class="app-container">
      <a class="nav-link" routerLink="/weather">Weather app</a>
      <a class="nav-link" routerLink="/calculator">Calculator</a>
      <a class="nav-link" routerLink="/todolist">Todo App</a>
    </div></nav>
  </div>


  <form action="/action_page.php" class="form-container" >
    <h1 class="heading">Update Todo</h1>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" value={{todoObj.name}} class="form-control" id="name" #n1 = "ngModel"[(ngModel)]="todoObj.name" placeholder="Enter a Todo" name="name" required>
    </div>
    <div class="form-group">
      <label for="comment">Description:</label>
      <textarea class="form-control" placeholder="Enter a description"
      id="comment"[(ngModel)]="todoObj.description" name="description"required></textarea>
    </div>
    <div class="form-group">
      <label for="date">Date:</label><br>
      <input type="date" class="form-control" id="date" form2 = "ngModel"[(ngModel)]="todoObj.time" name="time"required>
    </div>

    <p class="error-msg">{{errMsg}}</p>

    <button type="submit" class="btn btn-primary" (click)="onUpdateTodo()" >Update Todo</button>

  </form>

  <footer class="footer" >
    <div class="footer-container about">
      <h2 class="footer-head">About us</h2>
      <p class="about-description">By Sandhya Bommineni, a Web Developer in Viewzenlabs, Chennai.
        Developed using angular with typescript, Bootstrap, Html, and CSS.
      </p></div>
        <div class="footer-container">
      <h2 class="footer-head">Contact Us</h2>
      <p><span class="span"><i class="bi bi-telephone-x-fill"></i></span>+91 9553171711</p>
      <p class="email"><span class="span"><i class="bi bi-envelope-fill"></i></span>sandhya.bommineni@viewzenlabs.com</p>
    </div>
    <div class="footer-container">
      <h2 class="footer-head follow-us">Follow us</h2>
      <ul class="icon-container">
        <li><i class="bi bi-linkedin icon"></i></li>
        <li><i class="bi bi-twitter icon"></i></li>
        <li><i class="bi bi-instagram icon"></i></li>
        <li><i class="bi bi-facebook icon"></i></li>
      </ul>
    </div>
  </footer>

</div>
